* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f1f1f1;
}
@media screen and (max-width: 480px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .btn {
        width: 30%;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 1em;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 0px;
    }

    .form-control {
        display: inline;
        width: 50%;
        height: 34px;
        padding: 6px 12px;
        font-size: 1em;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    .grid {
        width: 90%;
        min-height: 380px;
        padding: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        font-size: 1em;
        background-color: #fff;
        margin: 5px 5px;
        -webkit-transition: top 1s ease, left 1s ease;
        -moz-transition: top 1s ease, left 1s ease;
        -ms-transition: top 1s ease, left 1s ease;
        -o-transition: top 1s ease, left 1s ease;
        transition: top 1s ease, left 1s ease;
    }
}
@media screen and (min-width: 1000px) {
    .container {
        width: 77%;
        margin: 0 auto;
    }

    .btn {
        margin-left: -4px;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 0;
    }

    .form-control {
        display: inline;
        width: 30%;
        height: 34px;
        padding: 6px 12px;
        font-size: 1em;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    .grid {
        width: 218px;
        padding: 10px;
        min-height: 370px;
        float: left;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        font-size: 1em;
        background-color: #fff;
        margin: 10px 5px;
        -webkit-transition: top 1s ease, left 1s ease;
        -moz-transition: top 1s ease, left 1s ease;
        -ms-transition: top 1s ease, left 1s ease;
        -o-transition: top 1s ease, left 1s ease;
        transition: top 1s ease, left 1s ease;
    }
}

.head-set {
    margin: 50px auto 30px;
    text-align: center;
}
#wrapper {
    width: 100%;
}
.content-set {
    margin: 0 auto 25px;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
}

.grid strong {
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    display: block;
    padding: 0 0 5px;
    font-size: 1em;
}
.grid .meta {
    text-align: right;
    font-style: italic;
}
img {
    max-width: 100%;
    background: #ccc;
    display: block;
    background: url(../static/images/loding.gif) no-repeat center;
}
.origin-set {
    color: #5cb85c;
    text-decoration: none;
}